*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #21201f;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 111px 100px 0;
}